@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

.container {
  @apply max-w-6xl mx-auto px-6;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-gray-900 bg-gray-50 leading-relaxed;
  font-family: system-ui, sans-serif;
}
